{% extends 'base.html.twig' %}

{% block title %}New Evaluation
{% endblock %}

{% block body %}
	{{include("sidebar.html.twig")}}


	<div class="home_content" style="margin-top:200px; height: 100%;">

		<h1>Create new Evaluation</h1>
		<div style="width:900px;height:80px; background-color:#eee;margin-right:auto; margin-left:auto">
			<center>

				<a href="{{ path('evaluation_index') }}">
					<button class="btn btn-outline-secondary" style="color:black;border:solid 1px;width:900px;height:80px;margin-right:auto; margin-left:auto">
						<h1>back to list</h1>
					</button>
				</a>

			</center>
		</div>
		<div class="table table-bordered table-white" style="width:900px; border:solid 1px; margin-right:auto; margin-left:auto;">

			{{ include('evaluation/_form.html.twig') }}
		</div>
	</div>

	{# <a href="{{ path('evaluation_index') }}">back to list</a> #}
{% endblock %}
