$primary:       purple;
$secondary:     gray;
$success:       green;
$info:          rgb(37, 5, 5);
$warning:       rgb(37, 5, 5);
$danger:        red;
$light:         pink;
$dark:          black;




$color: aqua;
