$primary:       purple;
$secondary:     gray;
$success:       green;
$info:          rgb(5, 65, 80);
$warning:       rgb(134, 136, 9);
$danger:        red;
$light:         pink;
$dark:          black;




$color: aqua;
