{% extends 'base.html.twig' %}


{% block body %}
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<!--boxicons CDN -->
		<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	</head>


	{{include("sidebar.html.twig")}}
	<div class="home_content" style="margin-top:100px; ">
		<div style="border:solid 1px ;background-color:#fff;width:900px;height:500px; margin-right:auto; margin-left:auto; margin-bottom:20px;">
			<div style="100px;width:800px; margin-top:100px;margin-top:10px;height:500px; margin-right:auto; margin-left:auto; margin-bottom:20px;">
				<form class="row g-3">
					<div class="col-md-6">
						<label for="inputEmail4" class="form-label">nom</label>
						<input type="email" class="form-control" id="inputEmail4">
					</div>
					<div class="col-md-6">
						<label for="inputPassword4" class="form-label">Password</label>
						<input type="password" class="form-control" id="inputPassword4">
					</div>
					<div class="col-12">
						<label for="inputAddress" class="form-label">Address</label>
						<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
					</div>
					<div class="col-12">
						<label for="inputAddress2" class="form-label">Address 2</label>
						<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
					</div>
					<div class="col-md-6">
						<label for="inputCity" class="form-label">City</label>
						<input type="text" class="form-control" id="inputCity">
					</div>
					<div class="col-md-4">
						<label for="inputState" class="form-label">State</label>
						<select id="inputState" class="form-select">
							<option selected>Choose...</option>
							<option>...</option>
						</select>
					</div>
					<div class="col-md-2">
						<label for="inputZip" class="form-label">Zip</label>
						<input type="text" class="form-control" id="inputZip">
					</div>
					<div class="col-12">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="gridCheck">
							<label class="form-check-label" for="gridCheck">
								Check me out
							</label>
						</div>
					</div>
					<div class="col-12" style="margin-right:auto; margin-left:auto; width: 100px;">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</form>
			</div>
		</div>


	</div>
{% endblock %}
